@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .btn {
    @apply border-[2px] px-[20px] py-[10px] rounded-full bg-transparent text-black font-bold border-black hover:bg-black hover:text-white transition-colors duration-300;
  }
}
